* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    background-color: rgba(240, 239, 233, 255);
}

/* Main app */
.app {

    margin: 100px auto;
    width: 350px;
    height: 500px;
    background-color: rgba(255, 255, 255, 255);
}

/* AppContent */
.app-content {
    font-size: 20px;
    margin: 40px 10px 20px 30px;


}

.app-content__data {
    display: grid;
    grid-template-columns: 85% 15%;
    margin-top: 20px;

}

/* AppDate */
.app-date {
    display: flex;
}

.app-date__day {
    font-size: 40px;
    color: rgba(89, 92, 107, 255);
    margin-right: 5px;
}

.app-date__month {
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(115, 118, 131, 255);
}

.app-date__year {

    font-size: 15px;
    color: rgba(165, 167, 175, 255);
}

/* AppHeader */
.app-header {
    display: flex;
}

.app-header__date {
    margin: 40px 50px 10px 30px;

}

.app-header__day {

    margin: 60px 30px 10px 80px;
    font-size: 15px;
    color: rgba(115, 118, 131, 255);


}

/* AppList */
input[type=radio] {
    width: 20px;
    height: 20px;
}

.lable-text {
    color: grey;
}

/* AddTask */
/* .add-button {

    border: 5px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 50px;
    background-color: rgba(80, 227, 164, 255);
    color: rgba(70, 190, 139, 255);
} */
.add-button {
    border: 0px;
    border-radius: 70px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    line-height: 0.428571429;
    padding: 10px 0;
    background-color: rgba(80, 227, 164, 255);
    color: rgba(70, 190, 139, 255);
    text-align: middle;
    position: absolute;

    left: 325px;
    bottom: 350px;

}

/* TaskForm */
.task-form {
    display: grid;
    grid-template-columns: 80% 10% 10%;
}

.taskform-action {
    height: 15px;
    width: 15px;
}